/*.container {max-width: 980px;}*/
.logopart{width:100%;float:left;margin:10px 0px 15px 0px;}
.logo{width:100%;float:left;font-size: 44px;color: #414745;}
.babycare-form{width:100%; float: left; background:url(../images/babycare-index.jpg) no-repeat top; background-size:cover;padding:30px 10px; margin-bottom:30px;}
.babycare-form input,textarea{width: 100%;float: left;padding: 10px 10px;border: solid 1px #fff;border-radius: 3px;background: rgba(255, 255, 255, 0.75);color: #000;outline: none;resize: none;}

.babycare-form textarea{margin-bottom: 27px;}

.babycare-form2{width:100%; float: left;}

.babycare-form2 textarea{
width: 100%;
    float: left;
    padding: 10px 10px;
    border: 1px solid #74827D;
    background-color: #ECF1F7;
    resize: none;margin-bottom: 27px;}

.buttonsubmit{width:100%;float:left;margin-top: 70px;text-align:center;}
.buttonsubmit input[type=submit]{background: #395393;border: solid 1px #0c5a40;padding: 10px 73px;color:#fff;font-size: 17px;border-radius: 5px;}
.buttonsubmit input:hover[type=submit]{background: #000;border: solid 1px #000;}

.innerform{width:100%;float:left;m;margin-bottom: 31px;padding-top: 25px;}
.buildformpart{width:100%; float:right;}
	
	#header h3{
    background: #98b4d2;
    color: #000000;
    padding: 9px 8px;
    margin: 0px;
    width: 100%;
    float: left;
    font-size: 16px;
    border: 1px solid #74827D;
    /* margin-bottom: 10px; */
    }
	
.textpartblockyb{width:100%;float:left;font-size: 15px;line-height: 25px;padding-top: 20px;}	
.textpartrightimage{ width:100%; float:left;}
.textpartrightimage img{ width:100%;}	
	
.buildformpart .rowform{
background-color: #ECF1F7;
line-height: 35px;
margin: 2px 0px;
width: 100%;
padding-left: 5px;
border: 1px solid #74827D;
float: left;
}
.radcol{color:#FF0000;}
	
.buildformpart .rowform .textpart{ width:55%; float: left;}	
.ques014 {float: right;}	
.buildformpart .rowform .textfield{ width:43%; float: right;}
.numb{margin: 2px 0px;border-color: rgb(227, 242, 237);width: 97%;border: solid 1px #96a7a1;padding: 0px 5px;height: 36px;}
.numb:disabled{color: grey}  

.numb0{margin: 2px 0px;
    border-color: rgb(227, 242, 237);
    width: 48%!important;
    border: solid 1px #96a7a1;
    padding: 0px 5px;
    height: 37px!important;}
.numb0:disabled{color: grey} 
.rightform55{width:100%; float: left;}
		
.boxrecom{width:100%; float:left; padding:10px; min-height:200px; color:#000;border: 1px solid #74827D;
    background-color: #ECF1F7; margin-top:2px;}
.formbutpart{width:100%;float:left;margin: 10px 0px;}
.formbutpart .left{width: 37%;float:left;}	
.formbutpart .right{width: 63%;float:right; text-align:right;}		
.paddingsalect{padding: 9px 0px;}	
.butstyle{background-color: #178CCb;
    font-size: 15px;
    padding: 6px 6px;
    border-radius: 4px;
    color: #fff;}	
	
.butstyle:hover{background-color: #052049;}	
.butstyle:disabled{background-color: #abbede;}	
#recoCooling{position: relative;
    width: 100%;
    float: left;}	
#recoCooling .clockbaby{position:absolute;top:-20px;right: -5px;}



	
.footer-copy{width:100%; float:left; text-align:center; font-size:13px; background:#395393; color:#fff; padding:10px 0px;}
html, body,{
    width: 100%;
    min-height: 100%;
	
}
html, body{
   padding: 0;
   margin: 0;
}

#box{
	height:125px;
	width:33%;
	border:2px solid white;
	float:right;
	margin:5px 5px;
	margin-top:-165px;
	
}

.font_tang{
	/* font-family: Georgia; */
    font-size: 44px;
	/*text-shadow: 4px 4px 4px #74827D;*/
	color:#414745;
	float:left;margin-top:-180px;margin-left:2%;
}


#f_events
{
    display:inline-block;
    height:100px;
    overflow-y: scroll;
    background-color:white;
   
    
}

#f_events label
{
    font-size:small;
    font-weight:normal;
    padding-left:2px
}

/* 	  #img1{
		width:140px;
		height:175px;
      } */
	  
	  #header{
	  margin:0px;
	  /* height:175px; */
	  width:100%;
	  /* background:linear-gradient(to bottom right,#FFFFFF,#FFFFFF); */
	  }
	  
	  #line{
	  margin-left:-10px;
	  margin-top:-120px;
	  height:1px;
	  width:70%;
	  background:radial-gradient(gray, white);
	  }
	  
	  .h4_style{
	  float:right;
	  margin-top:5px;
	  color:#5b6360;
	  text-align: justify;
	  margin-left:2%;
	  margin-right:5px;
	  font-weight:normal;
	  font-family:verdana;
	  font-size:14px;
	  }

.ques{
	  background-color:#ECF1F7;
	  min-height:35px;
	  line-height:30px;
   	  /*margin: 2px;*/
	  width:100%;
	  padding-left:5px;
	  /*border-radius:5px;*/
	  border:1px solid #74827D;   	  
	}
	
	
		.ques1{
	  background-color:#ECF1F7;
	  height:40px;
	  margin: 2px;
	  width: 410px;
	  padding-left:5px;
	  /*border-radius:5px;*/
	  border:1px solid #74827D;
	  
	}

	
		.item{
	  width:250px;
	  float:left;
	}
	.ask{
	float:right;
}
/*
.button {
    background-color: #395393;
    border: none;
	color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
	width: 170px;
	height: 30px;
	border-radius: 5px
}
.button:disabled{
    background-color: #B6C7E2;
 }
 .button:hover{
	background-color: #2B406E;
 }
 .button:disabled:hover{
	 background-color: #abbede;
 }

*/
 
 /*input:disabled{background-color: #2B406E;}*/

.map-modal-container iframe{position: absolute;top:20%;left:30%; width:50%; height:60%;}
.map-modal-container a{position: absolute;top:20%;left:80%;}
table {
/* 	border-collapse: separate;
	border-spacing:1px; */ 
    width: 100%;
	/* border: 1px solid #74827D; */
}
#neuroTable td {
    text-align: center;
    padding: 2px;
	color:white;
	background-color:#178CCb ;
	position:relative; 
	z-index:10; 
	/*border:1px solid black;*/
	border-style:solid none none none;
	cursor: pointer;
}
#neuroTable td:hover{background-color: #052049;}

td {
    text-align: left;
    padding:2px 3px;
	color:black;
	/*background-color:#ECF1F7*/; 
	border:1px solid #74827D;
	background-color:white ;
}


 #neuroTable td:before{
	content:""; 
	/* display:block;  */
	position:absolute; 
	z-index:-1; 
	top:0px; 
	left:0px; 
	right:0px; 
	bottom:0px; 
	background:#178CCb;
	border-radius: 4px;
	/* border:1px solid #74827D; */
	}
#neuroTable td:hover:before{
	background-color: #052049;
}

tr{
	font-size:small;	
}
#neuroTable th,th{
	text-align:center;
	background-color:#98b4d2;
	color:black;
	font-weight: normal!important;
	/**padding: 2px!important;**/
}

#neuroTable td:last-child{
	border-style:solid none none none;
}
 #neuroTable td:first-child:before{
	border:none; 
	background-color:#ECF1F7; 
	top:0px; 
	left:0px; 
	right:0px; 
	bottom:0px;
} 
#neuroTable td:first-child{
	 
	 font-weight:bold;
	 color:black;
	 background-color:#ECF1F7; 
	 border-style:solid none solid solid;
}
#neuroHeader th{
	background-color:#ECF1F7;
}

/*input[type=text]{	  
	height:30px;
	  width:137px;
	  margin-top:5px;
	}

input[type=number]{	  
	height:30px;
	  width:137px;
	  margin-top:5px;
	}*/

.h3{
	/* margin-top:10px; */
	font-size:15px;
	font-weight:bold;
	
}
.quesBlock{
	/* height:10%; */
	width:99%;
	border:1px solid black;
	/* border-top:0;  */
	margin-left:3px;
	/* margin-top:5px; */
	padding-bottom:10px;
	padding-left:10px;
	background-color:#ECF1F7;
	min-height:145px;
	float: left;
}

.scrollBlock1{
	    margin-left: 3px;
    width: 99%;
    border: 1px;
    /* background-color: #ECF1F7; */
    float: left;
	margin-top:10px;
	}
#x:hover{
	color:green;
}

#x{
	float:right;
	margin-right:10px;
	font-size:14px;
	line-height:10px;
	text-decoration:underline;
	color:navy;
}

.mandatory:after{
	content:'*';
	color:#FF7700;
	font-size:16px;
	/* margin-right:5px; */
}

.heading{
	font-weight:bold;
	color:white;
	font-size:14px;
	background-color:#4c4c4c;
}

.alert{
	font-weight:normal;
	font-size: 14px;
	color:#FAAB50;
	float:right;
	line-height:5px;
	height:20px;
	/* margin-left:120px; */
}

.scroll1{
	color: #fff;
    background-color: #052049;
    font-size: 17px;
    font-weight: normal;
    width: auto;
    float: left;
    text-align: center;
    border-radius: 5px 5px 0px 0px;
    border: 1px solid black;
    line-height: 20px;
    padding: 3px 19px;
    margin-right: 3px;
    cursor: pointer;
	/* margin-bottom: 7px; */
}

.scrollDis1{	
	color: white;
    background-color: #178CCb;
    font-size: 17px;
    font-weight: normal;
    width: auto;
    float: left;
    text-align: center;
    border-radius: 5px 5px 0px 0px;
    border: 1px solid black;
    line-height: 20px;
    padding: 3px 19px;
    margin-right: 3px;
	cursor: pointer;
	/* margin-bottom: 7px; */
}



.neuroButton{
	float:right;
	margin-right:2px;
	width:115px;
	margin-bottom:5px;
	margin-top:5px;
	/* text-align: center; */
}

.Main-Div {
    position: relative;
    left: -1300px;
}

.Inner-Div {
    position: absolute;	
    left: 1500px;
	top:-5px;
	}


.resource{
	margin:2px;
	margin-top:12px;
	margin-left:35px;
	text-align:left;
	width:700px;
	float:left;
	height:200px;
	margin-bottom:13%;
	}			
.reco{
	margin:2px;
	margin-top:-14px;
	margin-left:25px;
	width:710px;
	float:left;
	border:1px solid #74827D;
	background-color:#ECF1F7;
	min-height:300px;
	overflow:hidden;
}
.contact{
	margin-left: 3px;
    margin-top: -14px;
    /* margin-left: 25px; */
    width: 100%;
    /* float: left; */
    border: 1px solid #74827D;
    background-color: #ECF1F7;
    /* min-height: 45px; */
    overflow: hidden;
    display: none;
    float: right;
    /* margin-right: 50px; */
    margin-top: 5px;
}

#NeuroTableCell
{
    border: 3px solid;
    border-radius: 4px;
    box-shadow: 2px 2px #92a19c;
}
#report{width: 100%;
    float: left;}


.comment{
	/* margin:2px; */
	margin-top:5px;
	    margin-bottom: 16px;
	/* margin-left:5px; */
	width:425px;
	border:1px solid #74827D;
	/* background-color:#ECF1F7; */
	/* height:80px; */
}
	
.exam{
	margin: 2px; */
    margin-top: -15px;
    /* margin-left: 25px; */
    float: left;
    /* border: 1px solid #74827D; */
	    width: 100%;
}

.map-modal-container
{
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

#neuroTable td.clicked:before{
    background-color: #052049;
 }
 
#neuroTable td.clicked{color:white;font-weight: normal;}

/* #neuroTable td.:before{
    background-color:#7094ff;	
 }*/
 
#neuroTable td.active{color:white;}
li.active{
	color:blue;
}
	
	#popup
{
    display:none;
    position:fixed;
    width:450px;

    top: 50%;
    left: 50%;
    margin-left:-155px;
    margin-top:-110px;
    /*border:1px solid #74827D;*/
    background-color:#ECF1F7;
    /* padding:30px; */
    z-index:102;
    font-family:Verdana;
    font-size:10pt;
/*     border-radius:10px;
    -webkit-border-radius:20px;
    -moz-border-radius:20px; */
    /* font-weight:bold; */
}
#content
{
    height:auto;
    width:450px;
    margin:10px;
}
#recoTable td.select_norm{
	background-color:#00d790;
	color:black;
}
#recoTable td.select{
	background-color:#FFF568;
	color:black;
}
#recoTable td.select_mod{
	background-color:#f48024;
	color:black;
}
.right{
	float:right;
	/*margin-top:-53px;
	margin-right:51px;*/
	width:710px;
}

#home{
	min-height: 100%;
    float: left;
    width: 100%;
    background-color: white;
    margin-bottom: 5px;
	}
	
 	.footer{
	float: left;
    padding-left: 20px;
    background-color: #ECF1F7;
    width: 100%;
    margin-bottom: 20px;
} 

.error{
	background-color:"red";
}

.errorcls{color: #ff0000;
    font-size: 11px;
    float: left;
    width: 100%;
    padding: 0px;
    line-height: 18px;}

.ques014 {
    position: relative;
    display: inline-block;
}
.ques014 .tooltiptext {
    visibility: hidden;
    width: 300px;
    background-color: #555;
    color: #fff;
    text-align: center;
    line-height: 1.6;
    border-radius: 6px;
    padding: 0px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
}

.ques014 .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.ques014:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

a
{
  text-decoration:underline;
  color: navy;
}

a:hover{
	color: blue;
}

.video-link:hover {
    cursor:pointer;
}
@media (max-width:768px){

.babycare-form input, textarea { margin-bottom:20px;}
.buttonsubmit {margin: 20px 0px;}
.map-modal-container iframe {
    left: 5%!important;
    width: 92%!important;
}
}



@media (max-width:480px){
.butstyle{padding: 6px 10px;width: 98%;}
#recoCooling .clockbaby {
    position: absolute;
    top: -180px;
    right: 74px;
}
#recoCooling {
    position: relative;
    margin-top: 170px;
}



}


@media (max-width:360px){

#recoCooling .clockbaby {position: absolute;top: -180px;right: 74px;}
#recoCooling {position: relative;margin-top: 170px;}



}






@media (min-width: 1200px){
/*.container {max-width: 980px;}*/
}









